html {
  background: #fff;
  color: #333;
  font: 16px/1.4 Open Sans, Helvetica, Arial, sans-serif;
}

.site-box {
  padding: 40px 60px 0;
  background: #fff;
  text-align: center;
  box-shadow: 2px 3px 4px 1px rgba(50, 50, 50, 0.1);
}

.content {
	background-color: #00b900;
	padding: 20px;
	color: white;
	border-radius: 5px 5px 0 0;
	width: auto;
}

.warning {
	border: 2px solid red;
	background-color: #FFD2CF !important;
	color: red !important;
}

/* Generic styles */

.no-text-underlining {
	text-decoration: none !important;
}

.white-bg {
	background-color: white;
}

.white-text {
	color: white !important;
}

.vandebron-green {
	color: #00b900;
}