<!DOCTYPE html>
<html>
  <head>
    <title>Vandebron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div id="screen-placeholder" class="site-box text-center center-content"><%= yield %></div>
  </body>
</html>
