<!DOCTYPE html>
<html>
  <head>
    <title>Vandebron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
		<%= javascript_pack_tag 'react_app_root' %>
  </head>

  <body>
		<div id="root" class="site-box text-center center-content container"></div>
  </body>
</html>
